:root {
  --bg-dark: #0d1117;
  --bg-color-pre: #161b22;
  --width: 50%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-dark);
  width: var(--width);
  justify-content: center;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

div {
  overflow-x: hidden;
}

ol {
  counter-reset: item;
  padding-left: 30px;
}

li {
  list-style-type: none;
  position: relative;
}

li:before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: -22px;
  color: lightgoldenrodyellow;
  font-weight: 500;
}

.section-title {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1em;
  color: lightgoldenrodyellow;
}

li > p {
  color: #a1a5ad;
  font-weight: 400;
}

pre {
  padding: 10px;
  background-color: var(--bg-color-pre);
  color: #fff;
  text-wrap: balance;
  overflow-x: auto;
}

#description2 {
  color: #fff;
}

.txt02 {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 0 auto 10px;
  border: 1px solid #555;
  border-radius: 8px;
}

.txt02 p {
  color: #000;
  margin: 5px 0;
  font-family: 'Consolas';
}

footer {
  padding-block: 10px;
  text-align: center;
  color: #ddd;
  font-size: 12px;
}

@media (min-width: 400px) {
  body {
    width: 100%;
  }
}
