:root {
  --bg-dark: #0d1117;
  --bg-color-pre: #161b22;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  margin: 20px;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

pre {
  padding: 10px;
  background-color: var(--bg-color-pre);
  color: #ddd;
  text-wrap: balance;
}

footer {
  text-align: center;
  color: #ddd;
  font-size: 12px;
}

@media (width <= 400px) {
  body {
    width: 100%;
    height: 100%;
  }
}
